<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - O7POS</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/Styles/Basic")
    @Styles.Render("~/Styles/Selectpicker")
    @RenderSection("Styles", false)
</head>
<body>
    @RenderPage("../_Header.cshtml")
    @RenderBody()
    @Scripts.Render("~/JavaScript/Basic")
    @Scripts.Render("~/JavaScript/Selectpicker")
    @RenderSection("Scripts", false)
</body>
</html>
